@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "rubik", sans-serif;
    width: 100%;
}
.logo img{
    border:2px solid black;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 20px;
    
}

nav ul li a {
    text-decoration: none;
    font-weight: 200;
    color:white;
}
nav ul li a:hover{
    color:black;
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.column {
    flex-basis: 50%;
    margin: 30px;
}
.column img:hover{
    transform: scale(1.1);
}
.column img{
    max-width:100%;
    height:auto;
    display:block;
    transition:transform 0.5s ease-in-out;
}
.column h1{
    font-size: 50px;
    line-height: 1.3;
    margin-bottom:20px;
}
.column h1 span{
    color:#B22D32
}
.column p{
    font-size: 18px;
    line-height:1.6;
}
.button{
    display:inline-block;
    background-color:#B22D32;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    padding:12px;
    color:white;
    border-radius: 15px; 
    cursor:pointer;
}
.button:hover{
    background:black;
}
.header{
    background:radial-gradient( #B22D32);
    margin:auto;
    padding-right: 25px;
    padding-left: 25px;
}
.main{
    background:radial-gradient(#F5EDE3);
    margin:auto;
    padding-right: 25px;
    padding-left: 25px;
}
.categories{
    margin:70px 0;
    text-align: center;
}
.categories h2{
    display:inline-block;
    font-size:28px;
    font-weight: 400;
    margin-bottom: 35px;
    border-bottom: 2px solid #B22D32 ;
}
.row{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    padding:0 20px;
    gap: 30px;
}
.categories-item img:hover{
    transform:translateY(-5px);
}
.categories-item{
    flex: 1 1 300px;
    text-align: left;
    max-width: 300px;
}
.categories-item img{
    height: 250px;
    width:100%;
    margin-bottom:15px;
    object-fit: cover;
    border-radius: 10px;
    transition:transform 0.5s;
}
.categories-item p{
    font-size: 18px;
}
.categories-item span{
    background-color:beige;
    padding:5px;
    font-size:16px;
}
.products{
    margin:50px 0;
    text-align: center;
}
.products h2{
    display:inline-block;
    font-size: 28px;
    font-weight:400;
    margin-bottom: 50px;
    border-bottom: 2px solid #B22D32 ;
}
.products .row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 75px;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 15px;
}
.products .row img{
    height: 250px;
    width:250px;
    margin-bottom: 20px;
}
.product-item:hover{
    transform: translateY(-5px);
}
.product-item{
    transition:transform 0.5s;
    margin-bottom: 50px;
    cursor:pointer;
}
.product-item h4{
    font-weight: 400px;
    font-size: 18px;
}
.product-item p{
    font-size: 16pz;
}
.rating i{
    color:#fbc531
}
.offer{
    margin:70px 0;
    padding:30px 0;
    background:radial-gradient(#F5EDE3);
}
.offer .offer-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px 50px;
}
.offer .offer-container .offer-image img:hover{
    transform: translateY(-20px);
}
.offer .offer-container .offer-image img{
    transition: transform 0.5s;
    height: 300px;
    width: 350px;
    
}
.offer .offer-container .offer-details{
    flex-basis: 50%;
}
.offer .offer-container .offer-details p{
    font-size:17px;
}
.offer .offer-container .offer-details h1{
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 7px;
}
.offer .offer-container .offer-details a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 15px;
    width:fit-content
}
.offer .offer-container .offer-details a:hover{
    background-color: black;
}
.review{
    margin-top:50px;
    margin-bottom:70px;
    text-align: center;
}
.review h2{
    display:inline-block;
    font-size:28px;
    font-weight:400;
    margin-bottom:50px;
    border-bottom:2px solid #B22D32 ;
}
.review-row{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin:0 75px;
    text-align: center;
    margin-top: 15px;
}
.review-item{
    flex-basis:30%;
    padding:40px 20px;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
    cursor:pointer;
}
.review-item i.fa-quote-left{
    color:#fbc531;
    font-size:30px;
    margin:10px;
}
.review-item img{
    width:50px;
    height:50px;
    margin-top:20px;
    border-radius: 50%;
}
.review-item p{
    font-size: 14px;
    margin:12px 0;
    color:#777;
}
.review-item h3{
    font-weight: 600;
    color:#555;
    font-size: 16px;
    margin-top: 12px;
}
.review-item:hover{
    box-shadow: none;
}
.footer{
    width:100%;
    margin-top:50px;
    background-color: #F5EDE3;
    padding:30px 50px;
    display:flex;
    justify-content:center;
    align-content: center;
}
.footer-col{
   padding: 20px;
   margin-right: 25px;
   flex-basis: 25%;
}
.footer h2{
    font-size:22px;
    margin-bottom: 5px;
}
.footer p{
    font-size: 16px;
    margin-bottom: 10px;
    color:#555;
}
.download{
    display:flex;
    justify-content: space-around;
}
.download img{
   margin-top: 15px;
   width:50%
}
.footer ul{
    list-style: none;
    padding:10px 0;
    color:#555
}
.copyright{
    text-align:center;
    margin:10px;
    color:#555;
}
.navbar.menu-icon{
    width:28px;
    margin-left:20px;
    display:none;
}
@media only screen and (max-width:768px){
    .main{
        height:auto;
        flex-direction: column;
        text-align: center;
    }
    .header{
        padding-left: 15px;
        padding-right:15px;
    }
    .column{
        margin:25px;
    }
    column h1{
        font-size:45px;
        margin-bottom:25px;
    }
    column img{
        height:250px;
        width:350px;
    }
    .button{
        margin-top:30px;
    }
    .categories.row{
        flex-direction: column;
    }
    .categories.row p{
        margin-bottom:40px;
    }
    .offer-container{
        flex-direction: column;
        margin-top: 60px;
        margin-left: 35px;
        margin-right: 25px;
    }
    .offer-image{
        margin-bottom:60px;
    }
    .offer.offer-container #offer-button{
        display: block;
        width:175px;
        text-align: center;
        margin-bottom: 40px;
    }
    .review-row{
        flex-direction: column;
        margin:0 40px;
    }
    .review-item{
        margin-bottom: 50px;
    }
    .footer{
        flex-direction: column;
        padding:10px 25px;
    }
    .footer p{
        font-size:18px;
    }
    nav ul{
        display:none;
    }
    .navbar.menu-icon{
        display:block;
    }
    
}